.navbar {
    width: 100%;
    background-color: white;
    padding: 0px 9%;
}

.navelement{
    padding: 10px 0px;
}

.navcontainer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    padding: 10px 10px 10px 15px;
}

.mainlog {
    width: 20%;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    margin-right: 20px; 
}

.mainlog a{
    color: black;
    text-decoration: solid;
}
.menu {
    width: 55%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.item {
    font-size: 13px;
    font-weight: bolder;
    float: left;
}

.item a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.item a:hover {
    color: blue;
}

.navbarRight {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: right;
    align-items: flex-end;
}

.navbarRightItem {
    padding: 0 5% 0 5%;
}