/* 마이페이지 관심 글 컴포넌트 */
.myPageRouterComponent {
  /*background-color: yellow;*/
  min-height: 80vh;
}

.writeCommentContents {
  width:100%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}