.siteinfo_con {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 1%;
}

.soupupdate_element_left {
    padding: 5% 3%;
    flex: 6;
    border-right: 1px solid #ccc;
}

.siteinfo_element_right {
    flex: 3;
}

